<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Coupons</title>
    <link rel="shortcut icon" href="http://www.lazylad.com/assets/images/app-images/logo.png">
    <!-- Latest compiled and minified dist Bootstrap CSS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css">
    <!-- Latest compiled and minified dist JavaScript -->
    <script src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js"></script>
    <!-- Latest compiled and minified Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- Latest compiled and minified Bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <!-- Latest compiled and minified Bootstrap Select CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.7/css/bootstrap-select.min.css">
    <!-- Latest compiled and minified Bootstrap Select JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.7/js/bootstrap-select.min.js"></script>
    <!-- Latest compiled and minified Notify JavaScript -->
    <script src="https://rawgit.com/notifyjs/notifyjs/master/dist/notify.js"></script>

    <script>
        $( document ).ready(function() {
            {% if success = 1 %}
                $.notify("{{msg}}","success",{position:"top right"});
            {% elif success = 0 %}
                $.notify("{{msg}}","error",{position:"top right"});
            {% endif %}
        });
    </script>
    <style>
        .dropdown-toggle{
            background-color: white;
            border-color: #E5E5E5;
        }
    </style>
</head>
<body style="font-family: sans-serif">
<header>
    {% include "header.html" %}
</header>

<p>&nbsp;</p>
<div class="row">
    <div class="col-lg-12">
        <h1 style="text-align:center"><u>CREATE COUPONS</u></h1>
    </div>
</div>
<p>&nbsp;</p>
<form method="POST">
<div class="row">
    <div class="col-lg-12 ">
        <div class="col-lg-3">
            <div class="card">
                <h4 class="card-header">
                    Coupon Name
                </h4>
                <div class="card-block">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="eg. golazy" name="coupon_name" required>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card">
                <h4 class="card-header">
                    Total Coupons
                </h4>
                <div class="card-block">
                    <div class="form-group">
                        <input type="number" class="form-control" placeholder="eg. 1000" name="number_of_coupons" required>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card">
                <h4 class="card-header">
                    Min Order Amount
                </h4>
                <div class="card-block">
                    <div class="form-group">
                        <input type="number" class="form-control" placeholder="eg. 200" name="minimum_order_amount" required>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card">
                <h4 class="card-header">
                    Apply type
                </h4>
                <div class="card-block">
                    <div class="form-group">
                         <div class="checkbox">
                          <label>
                            <input type="radio" name = "apply_type" value="FLAT" required>
                            Flat
                          </label>&nbsp;&nbsp;&nbsp;&nbsp;
                          <label>
                             <input type="radio" name = "apply_type" value="Percentage" required>
                             Percentage
                          </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12 ">
        <div class="col-lg-3">
            <div class="card">
                <h4 class="card-header">
                    Max Discount Amount
                </h4>
                <div class="card-block">
                    <div class="form-group">
                        <input type="text" class="form-control"  placeholder="eg. 100" name="max_discount_amount" required>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card">
                <h4 class="card-header">
                    Usage Per User
                </h4>
                <div class="card-block">
                    <div class="form-group">
                        <input type="text" class="form-control"  placeholder="eg. 1" name="num_coupons_per_user" required>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card">
                <h4 class="card-header">
                    Discount Amount
                </h4>
                <div class="card-block">
                    <div class="form-group">
                        <input type="number" class="form-control"  placeholder="eg. 20" name="discount_amount" required>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3" >
            <button class="btn btn-warning btn-lg" type="submit" style="margin-top:20%;margin-left:20%;">
            Create Coupon
            </button>
        </div>
    </div>
</div>
</form>
</body>
</html>
