<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="https://lh3.ggpht.com/pPzHPojzz4fkUP7iFoEtdaER_n8eT5tAuyA5oTDPvfmDP1FyV2V4Kn8nNByMURmPqT0=w300" type="image/x-icon">
    <title>Lazyprime Orders </title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            $('.inner').toggle();
            $(document).on('click', '.outer', function(){
                inner = $(this).attr("id");
                if($('.'+inner).hasClass("open")){
                    $('.'+inner).toggle();
                    $('.open').removeClass("open");
                }else{
                    $('.open').toggle();
                    $('.open').removeClass("open");
                    $('.'+inner).toggle();
                    $('.'+inner).addClass("open");
                }
            });
            $(document).on('click', '.confirm-order', function(){
                var r = confirm("Do you really want to confirm this order?");
                var order_code = this.attributes["order_code"].value;
                if (r == true){
                    $(this).prop('disabled', true);
                    $.ajax({
                        type: 'POST',
                        url: '../lazyprime/confirm_order',
                        data: {
                            "order_code": order_code,
                        },
                        success: function(msg){
                        if(msg['success']==true){
                            a = $("#"+order_code).remove();
                            b = $("."+order_code).remove();
                            c = $("#space_"+order_code).remove();
                            b.find("#confirm_"+order_code).parent("div").remove();
                            $(".confirmed").prepend([a,b,c]);}
                        },
                        error: function(msg){
                            $("#confirm_"+order_code).prop('disabled', false);
                            alert("Some error occured in between");
                        }
                    });
                }
              });
            {% if pending %}var pen_num=parseInt({{pen_orders|length}});{% else %}var pen_num=parseInt(0){% endif %}
            {% if confirmed %}var con_num=parseInt({{con_orders|length}});{% else %}var con_num=parseInt(0){% endif %}
            var load = true;
            $(window).scroll(function () {
                if (parseInt($(window).scrollTop() + 10) > parseInt($(document).height()-$(window).height()) && load) {
                    $("#loader").css("display","block");
                    load = false;
                    $.ajax({
                        type: 'POST',
                        url: '../oms/lpm_orders',
                        data: {
                            "con_last_order": con_num,
                            "pen_last_order": pen_num
                        },
                        success: function(msg){
                        if(msg['success']==true){
                            if(msg["pending"]==true){
                                prev_order="";
                                var outer_o= $("#pending_templates").find(".outer").clone();
                                var inner_o= $("#pending_templates").find(".inner").clone();
                                item_o=inner_o.find(".inner_item").clone();
                                inner_o.find(".inner_item").remove();
                                item_key_o=item_o.find(".inner_item_key").clone();
                                item_o.find(".inner_item_key").remove();
                                item_value_o=item_o.find(".inner_item_value").clone();
                                item_o.find(".inner_item_value").remove();
                                pen_num=pen_num+msg['pen_orders'].length;
                                $.each(msg['pen_orders'], function(index, order){
                                    inner=inner_o.clone();
                                    outer=outer_o.clone();
                                    outer.attr("id",order.order.order_code);
                                    outer.find("#clon_order_code").html(order.order.order_code);
                                    outer.find("#clon_order_code").attr("id","");
                                    outer.find("#clon_delivery_city").html(order.addresses.city_id);
                                    outer.find("#clon_delivery_city").attr("id","");
                                    outer.find("#clon_posting").html(order.order.post_time);
                                    outer.find("#clon_posting").attr("id","");
                                    outer.find("#clon_amount_payble").html(order.order.amount_payable);
                                    outer.find("#clon_amount_payble").attr("id","");
                                    outer.find("#clon_discount_amount").html(order.order.discount);
                                    outer.find("#clon_discount_amount").attr("id","");
                                    outer.find("#clon_delivery_amount").html(order.order.delivery_cost);
                                    outer.find("#clon_delivery_amount").attr("id","");
                                    inner.removeClass(prev_order);
                                    prev_order=order.order.order_code;
                                    inner.addClass(order.order.order_code);
                                    $.each(order.order.items, function(idx,itm){
                                        item=item_o.clone();
                                        $.each(itm, function(key,value){
                                            item_key=item_key_o.clone();
                                            item_value=item_value_o.clone();
                                            item_key.html(key);
                                            item_value.find("input").val(value);
                                            item.append(item_key,item_value);
                                        });
                                        inner.find(".inner_items").append(item,"<p>&nbsp;</p>");
                                    });
                                    inner.find("button").attr("id","confirm_"+order.order.order_code);
                                    inner.find("button").attr("order_code",order.order.order_code);
                                    $(".pending").append(outer,inner,"<p id=space_"+order.order.order_code+">&nbsp;</p>");
                                });   
                            }
                            if(msg["confirmed"]==true){
                                prev_order="";
                                var outer_o= $("#confirmed_templates").find(".outer").clone();
                                var inner_o= $("#confirmed_templates").find(".inner").clone();
                                item_o=inner_o.find(".inner_item").clone();
                                inner_o.find(".inner_item").remove();
                                item_key_o=item_o.find(".inner_item_key").clone();
                                item_o.find(".inner_item_key").remove()
                                item_value_o=item_o.find(".inner_item_value").clone();
                                item_o.find(".inner_item_value").remove();
                                con_num=con_num+msg['con_orders'].length;
                                $.each(msg['con_orders'], function(index, order){
                                    inner=inner_o.clone();
                                    outer=outer_o.clone();
                                    outer.attr("id",order.order.order_code);
                                    outer.find("#clone_order_code").html(order.order.order_code);
                                    outer.find("#clone_order_code").attr("id","");
                                    outer.find("#clone_delivery_city").html(order.addresses.city_id);
                                    outer.find("#clone_delivery_city").attr("id","");
                                    outer.find("#clone_posting").html(order.order.post_time);
                                    outer.find("#clone_posting").attr("id","");
                                    outer.find("#clone_amount_payble").html(order.order.amount_payable);
                                    outer.find("#clone_amount_payble").attr("id","");
                                    outer.find("#clone_discount_amount").html(order.order.discount);
                                    outer.find("#clone_discount_amount").attr("id","");
                                    outer.find("#clone_delivery_amount").html(order.order.delivery_cost);
                                    outer.find("#clone_delivery_amount").attr("id","");
                                    inner.removeClass(prev_order);
                                    prev_order=order.order.order_code;
                                    inner.addClass(order.order.order_code);
                                    $.each(order.order.items, function(idx,itm){
                                        item=item_o.clone();
                                        $.each(itm, function(key,value){
                                            item_key=item_key_o.clone();
                                            item_value=item_value_o.clone();
                                            item_key.html(key);
                                            item_value.find("input").val(value);
                                            item.append(item_key,item_value);
                                        });
                                        inner.find(".inner_items").append(item,"<p>&nbsp;</p>");
                                    });
                                    inner.find("button").attr("id","confirm_"+order.order.order_code);
                                    inner.find("button").attr("order_code",order.order.order_code);
                                    $(".confirmed").append(outer,inner,"<p id=space_"+order.order.order_code+">&nbsp;</p>");
                                }); 
                            }
                            load=true;
                            $("#loader").css("display","none");
                        }
                        if(msg["confirmed"]==false && msg["pending"]==false){load=false;}
                        },
                        error: function(msg){
                            load=false;
                            alert("Some error occured in between");
                        }
                    });
                }
            });
        });
    </script>
</head>
<header>
    {% include "header.html" %}
</header>
<body>
    <h1 style="text-align: center">
        Lazyprime Orders
    </h1>
    <div class="row">
      <div class="col-lg-6" style="text-align: -webkit-center;">
        <h3>Pending</h3>
      </div>
      <div class="col-lg-6" style="text-align: -webkit-center;">
        <h3>Confirmed</h3>
      </div>
    </div>
    <div class="row" style="padding:2%">
        <div class="col-lg-6 pending container">
            {% if pending %}
                {% for order in pen_orders %}
                    <div id="{{order.order.order_code}}" class="col-lg-12 outer" style="cursor: pointer;background: rgb(255,0,0);color: white;border: 4px;border-radius: 8px;font-size: 18px;height: 180px;padding: 15px;">
                        <div class="col-lg-4"><u>Order code</u>
                            <span style="display:inline-block; width:10%;"></span><br>
                            {{order.order.order_code}}
                        </div>
                        <div class="col-lg-4"><u>Delivery City</u>
                            <span style="display:inline-block; width:10%;"></span>
                            {{order.addresses.city_id}}
                        </div>
                        <div class="col-lg-4"><u>Posting Time</u>
                            <span style="display:inline-block; width:10%;"></span>
                            {{order.order.post_time}}
                        </div>
                        <p>&nbsp;</p>
                        <div class="col-lg-4"><u>Amount Payble</u>
                            <span style="display:inline-block; width:10%;"></span>
                            {{order.order.amount_payable}}
                        </div>
                        <div class="col-lg-4"><u>Discount Amount</u>
                            <span style="display:inline-block; width:10%;"></span>
                            {{order.order.discount}}
                        </div>
                        <div class="col-lg-4"><u>Delivery Amount</u>
                            <span style="display:inline-block; width:10%;"></span>
                            {{order.order.delivery_cost}}
                        </div>
                    </div>
                    <div class="col-lg-12 inner {{order.order.order_code}}" style="background: rgb(248, 248, 248);color: #777777;border: 4px;border-radius: 8px;font-size: 18px;height: auto;padding: 15px;">
                        <div class="col-lg-12">
                            {% for item in order.order.items %}
                            <div class="col-lg-12" style="padding: 20px;background:rgb(255,255,255)">
                                {% for k,v in item.items %}
                                    <div class="col-lg-6">{{k|title}}
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="input-group">
                                            <input type="text" class="form-control" value="{{v|title}}" placeholder="Amount" readonly>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <p>&nbsp;</p>
                            {% endfor %}
                        </div>
                        <div class="col-lg-12">
                            <button id="confirm_{{order.order.order_code}}" type="button"
                                    order_code="{{order.order.order_code}}" style="float:right;" 
                                    class="confirm-order btn btn-success btn-lg active">Confirm</button>
                        </div>
                    </div>
                    <p id="space_{{order.order.order_code}}">&nbsp;</p>
                {% endfor %}
            {% else %}
                    <p>&nbsp;</p>
                        <div class="row"><h1 style="margin-left: 35%;font-family: sans-serif;color: #777;">No Pending Orders !!!</h1></div>
                    <p>&nbsp;</p>
            {% endif %}
        </div>
        <div class="col-lg-6 confirmed container">
            {% if confirmed %}
                {% for order in con_orders %}
                    <div id="{{order.order.order_code}}" class="col-lg-12 outer" style="cursor: pointer;background: rgb(68,157,68);color: white;border: 4px;border-radius: 8px;font-size: 18px;height: 180px;padding: 15px;">
                        <div class="col-lg-4"><u>Order code</u>
                            <span style="display:inline-block; width:10%;"></span>
                            {{order.order.order_code}}
                        </div>
                        <div class="col-lg-4"><u>Delivery City</u>
                            <span style="display:inline-block; width:10%;"></span>
                            {{order.addresses.city_id}}
                        </div>
                        <div class="col-lg-4"><u>Posting Time</u>
                            <span style="display:inline-block; width:10%;"></span>
                            {{order.order.post_time}}
                        </div>
                        <p>&nbsp;</p>
                        <div class="col-lg-4"><u>Amount Payble</u>
                            <span style="display:inline-block; width:10%;"></span>
                            {{order.order.amount_payable}}
                        </div>
                        <div class="col-lg-4"><u>Discount Amount</u>
                            <span style="display:inline-block; width:10%;"></span>
                            {{order.order.discount}}
                        </div>
                        <div class="col-lg-4"><u>Delivery Amount</u>
                            <span style="display:inline-block; width:10%;"></span>
                            {{order.order.delivery_cost}}
                        </div>
                    </div>
                    <div class="col-lg-12 inner {{order.order.order_code}}" style="background: rgb(248, 248, 248);color: #777777;border: 4px;border-radius: 8px;font-size: 18px;height: auto;padding: 15px;">
                        <div class="col-lg-12">
                            {% for item in order.order.items %}
                            <div class="col-lg-12" style="padding: 20px;background:rgb(255,255,255)">
                                {% for k,v in item.items %}
                                    <div class="col-lg-6">{{k|title}}
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="input-group">
                                            <input type="text" class="form-control" value="{{v|title}}" placeholder="Amount" readonly>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <p>&nbsp;</p>
                            {% endfor %}
                        </div>
                    </div>
                    <p id="space_{{order.order.order_code}}">&nbsp;</p>
                {% endfor %}
            {% else %}
                    <p>&nbsp;</p>
                        <div class="row"><h1 style="margin-left: 5%;font-family: sans-serif;color: #777;">No Confirmed Orders !!!</h1></div>
                    <p>&nbsp;</p>
            {% endif %}
        </div>
    </div>
    <div id="loader" style="height: 20px;display: none;">
        <img style="height: 100%;width: 100%;" src="http://52.74.183.181/image/720.gif">
    </div>
    <div id="pending_templates" style="display:none;">
        <div id="" class="col-lg-12 outer" style="cursor: pointer;background: rgb(255,0,0);color: white;border: 4px;border-radius: 8px;font-size: 18px;height: 180px;padding: 15px;">
                        <div class="col-lg-4"><u>Order code</u><br>
                            <span id="clon_order_code" style="display:inline-block; width:10%;"></span>
                        </div>
                        <div class="col-lg-4"><u>Delivery City</u><br>
                            <span id="clon_delivery_city" style="display:inline-block; width:10%;"></span>
                        </div>
                        <div class="col-lg-4"><u>Posting Time</u><br>
                            <span id="clon_posting" style="display:inline-block; width:10%;"></span>
                        </div>
                        <p>&nbsp;</p>
                        <div class="col-lg-4"><u>Amount Payble</u><br>
                            <span id="clon_amount_payble" style="display:inline-block; width:10%;"></span>
                        </div>
                        <div class="col-lg-4"><u>Discount Amount</u><br>
                            <span id="clon_discount_amount" style="display:inline-block; width:10%;"></span>
                        </div>
                        <div class="col-lg-4"><u>Delivery Amount</u><br>
                            <span id="clon_delivery_amount" style="display:inline-block; width:10%;"></span>
                        </div>
                    </div>
        <div class="col-lg-12 inner" style="background: rgb(248, 248, 248);color: #777777;border: 4px;border-radius: 8px;font-size: 18px;height: auto;padding: 15px;">
                        <div class="col-lg-12 inner_items">
                            <div class="col-lg-12 inner_item" style="padding: 20px;background:rgb(255,255,255)">
                                    <div class="col-lg-6 inner_item_key">
                                    </div>
                                    <div class="col-lg-6 inner_item_value">
                                        <div class="input-group">
                                            <input type="text" class="form-control" value="" placeholder="Amount" readonly>
                                        </div>
                                    </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <button id="" type="button"
                                    order_code="" style="float:right;"
                                    class="confirm-order btn btn-success btn-lg active">Confirm</button>
                        </div>
                    </div>
        <p id="">&nbsp;</p>
    </div>
    <div id="confirmed_templates" style="display:none">
        <div id="" class="col-lg-12 outer" style="cursor: pointer;background: rgb(68,157,68);color: white;border: 4px;border-radius: 8px;font-size: 18px;height: 180px;padding: 15px;">
                        <div class="col-lg-4"><u>Order code</u><br>
                            <span id="clone_order_code" style="display:inline-block; width:10%;"></span>
                        </div>
                        <div class="col-lg-4"><u>Delivery City</u><br>
                            <span id="clone_delivery_city" style="display:inline-block; width:10%;"></span>
                        </div>
                        <div class="col-lg-4"><u>Posting Time</u><br>
                            <span id="clone_posting_time" style="display:inline-block; width:10%;"></span>
                        </div>
                        <p>&nbsp;</p>
                        <div class="col-lg-4"><u>Amount Payble</u><br>
                            <span id="clone_amount_payble" style="display:inline-block; width:10%;"></span>
                        </div>
                        <div class="col-lg-4"><u>Discount Amount</u><br>
                            <span id="clone_discount_amount" style="display:inline-block; width:10%;"></span>
                        </div>
                        <div class="col-lg-4"><u>Delivery Amount</u><br>
                            <span id="clone_delivery_amount" style="display:inline-block; width:10%;"></span>
                        </div>
                    </div>
        <div class="col-lg-12 inner " style="background: rgb(248, 248, 248);color: #777777;border: 4px;border-radius: 8px;font-size: 18px;height: auto;padding: 15px;">
            <div class="col-lg-12 inner_items">
                <div class="col-lg-12 inner_item" style="padding: 20px;background:rgb(255,255,255)">
                        <div class="col-lg-6 inner_item_key">
                        </div>
                        <div class="col-lg-6 inner_item_value">
                            <div class="input-group">
                                <input type="text" class="form-control" value="" placeholder="Amount" readonly>
                            </div>
                        </div>
                </div>
                <p>&nbsp;</p>
            </div>
        </div>
    </div>


</body>
</html>