<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order By Code Search</title>
    <link rel="icon" href="https://lh3.ggpht.com/pPzHPojzz4fkUP7iFoEtdaER_n8eT5tAuyA5oTDPvfmDP1FyV2V4Kn8nNByMURmPqT0=w300" type="image/x-icon">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/s/dt/dt-1.10.10/datatables.min.css"/>
    <script type="text/javascript" src="https://cdn.datatables.net/s/dt/dt-1.10.10/datatables.min.js"></script>
        <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
</head>
<header>
    {% include "header.html" %}
</header>
<body>
<p>&nbsp;</p>
<div class="row">
    <div class="col-lg-6" style="left:22%">
        <form action="./searchRefereeByCodeResult" method="GET">
            <div class="input-group">
                <input type="text" class="form-control" name="ref_code" placeholder="Enter Order Code...">
                <span class="input-group-btn">
                <button class="btn btn-default" type="button">Search</button>
                </span>
            </div><!-- /input-group -->
        </form>
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->
</body>
<footer>
        <script type="text/javascript" charset="utf-8">
			$(document).ready(function() {
				$('.btn').click(function(){
				    code = $('input').val();
				    if (code == ''){return 0;}
				    url = "./getOrderDetails?o_str=" + code
				    window.location.href = url;
				});
                $('input').keyup(function(e){
                    if(e.keyCode == 13)
                    {
                        code = $('input').val();
                        if (code == ''){return 0;}
                        url = "./getOrderDetails?o_str=" + code
                        window.location.href = url;
                    }
                });
			} );
		</script>
</footer>
</html>