<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="https://lh3.ggpht.com/pPzHPojzz4fkUP7iFoEtdaER_n8eT5tAuyA5oTDPvfmDP1FyV2V4Kn8nNByMURmPqT0=w300" type="image/x-icon">
    <title>Order Details</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script>
        $( document ).ready(function() {
              $('.orders').toggle();
              $( ".toggle_button" ).click(function(){
                $(this).parent("div").find('.orders').toggle("slow");
                $('html, body').animate( { scrollTop: $(this).parent("div").find('.orders:first').offset().top }, 500 );
              });
              $(".cancel-order").click(function(){
                var r = confirm("Do you really want to cancel this order?");
                if (r == true){
                    $(this).prop('disabled', true);
                    $.ajax({
                        type: 'POST',
                        url: 'http://angulartechnologies.com/task_manager/v1/cancelUsersPreviousOrderForDashboard',
                        data: {
                            'order_code': '{{o_str}}'
                        },
                        success: function(msg){
                            alert('Order successfully cancelled');
                            location.reload();
                        }
                    });
                    setTimeout(function(){ alert("Order Cancelled"); location.reload();}, 5000);
                }
              });
            $(".request-rider").click(function(){
                var r = confirm("Do you really want to request rider for this order?");
                if (r == true){
                    $(this).prop('disabled', true);
                    $.ajax({
                        type: 'POST',
                        url: '../logistics/create_order',
                        data: {
                            "order_code": "{{o_str}}",
                            "city_code": {{city_code}},
                        },
                        success: function(msg){
                            alert("Rider successfully requested for this order.");
                        },
                        error: function(msg){
                            var err=$.parseJSON(msg.responseText).error_details;
                            if(err=="Order With Following Details Already Exists"){
                                alert("Already requested for this order.");
                            }else{
                                alert("Some error occured in between");
                            }
                        }
                    });
                }
              });
        });
    </script>
</head>
<header>
    {% include "header.html" %}
</header>
<body>
    <h1 style="text-align: center">
        Order Details
    </h1>
    {% if order_exist %}
        <div class = "row">
            <div class="col-lg-12">
                {% for name, description in o_details.order_details.items %}
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label>{{name|title}}</label>
                            <input class="form-control" readonly placeholder="{{description}}">
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <p>&nbsp;</p>
        <div class = "row">
            <div class="col-lg-12">
                {% for name, description in o_details.order_payment_details.items %}
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>{{name|title}}</label>
                            <input class="form-control" readonly placeholder="{{description}}">
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <p>&nbsp;</p>
        <h4 style="text-align: center">
            <a href="./changeSellerOfOrder?order_code={{o_details.order_details.order_code}}">CHANGE SELLER</a>
        </h4>
        <p>&nbsp;</p>
        <button type="button" class="btn btn-danger cancel-order" style="margin-left: 40%;">Cancel Order</button>
        <button type="button" class="btn btn-danger request-rider" style="margin-left: 3%;">Request Rider</button>
        <p>&nbsp;</p>
        <div class = "row">
            <div class="col-lg-6">
                <div class="col-lg-12 btn btn-primary toggle_button">
                    <h1 style="text-align: center">
                        Ordered Items
                    </h1>
                </div>
                <p>&nbsp;</p>
                {% for item in o_details.user_item_details %}
                <div class="row orders">
                    <div class="col-lg-12" style="border: 2px solid #e5e5e5;">
                        <div class="col-lg-6">
                            <img src="{{item.item_img_address}}" alt="Image Not Found" width="40%" height="auto"
                            onerror="this.src='https://lh3.ggpht.com/pPzHPojzz4fkUP7iFoEtdaER_n8eT5tAuyA5oTDPvfmDP1FyV2V4Kn8nNByMURmPqT0=w300';">
                        </div>
                        <div class="col-lg-6">
                            {% for name, description in item.items %}
                                {% if 'item_img_address' not  in name %}
                                    {{name}} :: {{ description }}<br>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="col-lg-6">
                <div class="col-lg-12 btn btn-success toggle_button">
                    <h1 style="text-align: center">
                    Confirmed Items
                    </h1>
                </div>
                <p>&nbsp;</p>
                {% for item in o_details.confirmed_item_details %}
                <div class="row orders">
                    <div class="col-lg-12" style="border: 2px solid #e5e5e5;">
                        <div class="col-lg-6">
                            <img src="{{item.item_img_address}}" alt="Image Not Found" width="40%" height="auto"
                            onerror="this.src='https://lh3.ggpht.com/pPzHPojzz4fkUP7iFoEtdaER_n8eT5tAuyA5oTDPvfmDP1FyV2V4Kn8nNByMURmPqT0=w300';">
                        </div>
                        <div class="col-lg-6">
                            {% for name, description in item.items %}
                                {% if 'item_img_address' not  in name %}
                                    {{name}} :: {{ description }}<br>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    {% else %}
    <h1 style="text-align: center">
        Order Does not exist !!!!
    </h1>
    {% endif %}
</body>
</html>