<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Lazylad Merchant Wallets</title>
    <link rel="icon" href="https://lh3.ggpht.com/pPzHPojzz4fkUP7iFoEtdaER_n8eT5tAuyA5oTDPvfmDP1FyV2V4Kn8nNByMURmPqT0=w300" type="image/x-icon">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/s/dt/dt-1.10.10/datatables.min.css"/>
    <script type="text/javascript" src="https://cdn.datatables.net/s/dt/dt-1.10.10/datatables.min.js"></script>
        <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.9.4/css/bootstrap-select.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.9.4/js/bootstrap-select.js"></script>

</head>
<header>
    {% include "header.html" %}
</header>
<body>
    <p>&nbsp;</p>
        <div class="row"><h1 style="text-align: center;font-family: sans-serif;color: #777;">All Lazylad Merchant Wallets</h1></div>
        <div class="row">
            <p>&nbsp;</p>
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
                <button type="button" id="settle-cut" class="btn btn-primary btn-lg btn-block">
                    Settle Up Cut For All Merchants </button>
            </div>
        </div>
    <p>&nbsp;</p>
    <div class="row">
        <div class="col-lg-12 container" style="padding:3%">
                <table id="ref-table" class="display" cellspacing="0" width="100%">
                    <thead>
                        <th>S.No.</th>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Address</th>
                        <th>City</th>
                        <th>Ph. No.</th>
                        <th>Lazylad Wallet Balance</th>
                        <th>Account Number</th>
                        <th>Account Name</th>
                        <th>IFSC Code</th>
                        <th>Last Settled</th>
                        <th></th>

                    </thead>
                    <tbody>
                        {% for sp_code, details in wallets.items %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{sp_code}}</td>
                                <td>{{details.merchant_details.sp_name}}</td>
                                <td>{{details.merchant_details.shop_address}}</td>
                                <td>{{details.merchant_details.city_name}}</td>
                                <td>{{details.merchant_details.sp_number}}</td>
                                <td class="wallet_balance">{{details.balance}}</td>
                                <td>{{details.merchant_details.account_number}}</td>
                                <td>{{details.merchant_details.account_name}}</td>
                                <td>{{details.merchant_details.ifsc_code}}</td>
                                <td>{{details.coupons_account.last_settled_at}}</td>
                                <td>
                                    <button id="table_button_{{sp_code}}" type="button"
                                            wallet="{{details.wallet_account.unsettled_amount}}"
                                            coupons="{{details.coupons_account.unsettled_amount}}"
                                            pricediff="{{details.pricediff_account.unsettled_amount}}"
                                            sp_code = "{{sp_code}}"
                                            class="btn btn-primary settle">
                                    Settle Up
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
        </div>
    </div>
      <!-- Modal -->
    <div class="modal fade" id="Modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                 <div class="modal-header">
                     <button type="button" id="modal_close" class="close">&times;</button>
                     <h4 class="modal-title">Confirm Settlement</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <label>Type of Payments To be Settled :</label>
                            <select id="multiple-opt" class="selectpicker" name='paths' multiple>
                                <option value='wallet' selected>Wallet</option>
                                <option value='coupons'  >Coupons</option>
                                <option value='pricediff' >Price Difference</option>
                            </select>
                            <p>&nbsp;</p>
                            <div class="input-group">
                                <span class="input-group-addon">Total</span>
                                <input type="text" class="form-control" id="modal_total" readonly>
                                <span class="input-group-addon">Rs.</span>
                            </div>
                            <input type="hidden" id="modal_sp_code"/>
                        </div>
                        <div class="col-lg-6">
                            <div class="input-group">
                                <span class="input-group-addon">Wallet Amount</span>
                                <input type="text" class="form-control" id="modal_wallet" readonly>
                                <span class="input-group-addon">Rs.</span>
                            </div>
                            <br>
                            <div class="input-group">
                                <span class="input-group-addon">Coupon Amount</span>
                                <input type="text" class="form-control" id="modal_coupons" readonly>
                                <span class="input-group-addon">Rs.</span>
                            </div>
                            <br>
                            <div class="input-group">
                                <span class="input-group-addon">Price Diff Amount</span>
                                <input type="text" class="form-control" id="modal_pricediff" readonly>
                                <span class="input-group-addon">Rs.</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="modal-settle-up" type="button" class="btn btn-danger">Settle Up</button>
                </div>
            </div>
        </div>
    </div>
</body>
<footer>
        <script type="text/javascript" charset="utf-8">
			$(document).ready(function() {
				$('#ref-table').DataTable();
				$('#ref-table').removeClass( 'display' ).addClass('table table-striped table-bordered');
				$(document).on('click', '.settle', function(){
				    $("#modal_wallet").val(this.attributes["wallet"].value);
				    $("#modal_coupons").val(this.attributes["coupons"].value);
				    $("#modal_pricediff").val(this.attributes["pricediff"].value);
				    $("#modal_sp_code").val(this.attributes["sp_code"].value);
				    $('#multiple-opt option').attr("selected",false);
				    $('#multiple-opt').selectpicker('refresh');
				    $("#Modal").modal();

				});
                $(document).on('click', '#settle-cut', function(){

                    var r = confirm("Do you really want to Settle cut for all Merchants. This happens only once a Month !!!!");
                    if (r == true){
                        $(this).prop('disabled', true);
                        $.ajax({
                            type: 'POST',
                            url: './cut_settlement_for_all_merchant',
                            data: {
                                "pass_code": "42",
                            },
                            success: function(msg){
                                s = "Cut settlement done for these sellers : \n"+ msg["settled_sellers"];
                                alert(s);
                            },
                            error: function(msg){
                                    alert("Some error occured in between");
                            }
                        });
                    }


                });
                $('.selectpicker').on('change', function(){
                    var selected = $(this).val();
                    var total = parseFloat("0");
                    for( var index in selected ){
                        total += parseFloat($("#modal_"+selected[index]).val())
                    }
                    $("#modal_total").val(total);
                });
                $('#modal_close').on('click', function(){
                    $('#multiple-opt option').attr("selected",false);
                    $('#multiple-opt').selectpicker('refresh');
                    $("#modal_wallet").val("");
				    $("#modal_coupons").val("");
				    $("#modal_pricediff").val("");
				    $("#modal_total").val("");
				    $("#modal_sp_code").val("");
				    $('#Modal').modal('hide');
			        $('#modal-settle-up').prop("disabled", false);
                });
                $(document).on('click', '#modal-settle-up', function(){
                    to_settle = $('.selectpicker').val();
                    total_amount = $("#modal_total").val();
                    if (to_settle != null && total_amount !== "0"){
                        $('#Modal').modal('hide');
                        $("#modal_total").val("");
                        $('#multiple-opt option').attr("selected",false);
                        $('#multiple-opt').selectpicker('refresh');
                        sp_code = $("#modal_sp_code").val();
                        $("#table_button_"+sp_code).prop("disabled", true);
                        $("#table_button_"+sp_code).removeClass("btn-primary");
                        $("#table_button_"+sp_code).addClass("btn-danger");
                        $("#table_button_"+sp_code).html("Settling...");
                        var get_params = "";
                        all_settlements = ["wallet", "coupons", "pricediff"];
                        for( var index in all_settlements ){
                            if (to_settle.indexOf(all_settlements[index]) != -1){
                                get_params+= all_settlements[index] + "=1&";
                            }else{
                                get_params+= all_settlements[index] + "=0&";
                            }
                        }
                        get_params += "sp_code=" + sp_code;

                        $.ajax({
                            url: './settleUpWithMerchant?'+get_params,
                            type: "GET",
                            success : function(data)
                                      {
                                            if(data["success"] == true){
                                            $("#table_button_"+sp_code).removeClass("btn-danger");
                                            $("#table_button_"+sp_code).addClass("btn-success");
                                            $("#table_button_"+sp_code).html("Settled");
                                            wallet_balance = $("#table_button_"+sp_code).parent("td").parent("tr").find(".wallet_balance").html();
                                            new_balance = parseFloat(wallet_balance) - parseFloat(data["total_amount"]);
                                            $("#table_button_"+sp_code).parent("td").parent("tr").find(".wallet_balance").css("background", "chartreuse");
                                            $("#table_button_"+sp_code).parent("td").parent("tr").find(".wallet_balance").html(wallet_balance +"  ->  "+ new_balance);
                                            }
                                      },
                            failure : function(data){
                                alert("Request failed. Please try again.");}
                        });

                    }else if(to_settle == null){
                        alert("Please select Payment types to be settled.");
                    }else{
                        alert("Settling amount Cannot be zero. Please cancel this settlement");
                    }
                });
			});
		</script>
</footer>
</html>