<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Merchant Dashboard</title>
    <link rel="icon" href="https://lh3.ggpht.com/pPzHPojzz4fkUP7iFoEtdaER_n8eT5tAuyA5oTDPvfmDP1FyV2V4Kn8nNByMURmPqT0=w300" type="image/x-icon">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/s/dt/dt-1.10.10/datatables.min.css"/>
    <script type="text/javascript" src="https://cdn.datatables.net/s/dt/dt-1.10.10/datatables.min.js"></script>
        <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
</head>
<header>
    {% include "header.html" %}
</header>
<body>
<div class="col-lg-12">
    <p>&nbsp;</p>
    <p class="bg-primary" style="padding: 15px;text-align: center;font-size: xx-large;">Merchant Dashboard</p>
    <div class="row">
        <div class="col-lg-6" style="padding: 10px;">
            <a href="./allMerchantWallet" class="btn btn-default btn-lg btn-block">All Merchant Lazy Wallets</a>
        </div>
        <div class="col-lg-6" style="padding: 10px;">
            <a href="./settlementRequested" class="btn btn-default btn-lg btn-block">Requested Settlement Merchants</a>
        </div>
        <div class="col-lg-6" style="padding: 10px;">
            <a href="./allLazyladWallet" class="btn btn-default btn-lg btn-block">All Merchant Lazylad Wallets</a>
        </div>
        <div class="col-lg-6" style="padding: 10px;">
            <a href="./allLazyposWallets" class="btn btn-default btn-lg btn-block" disabled="true">All Merchant Lazypos Wallets </a>
        </div>
    </div>
</div>
</body>
</html>