<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Lazywallets</title>
    <link rel="icon" href="https://lh3.ggpht.com/pPzHPojzz4fkUP7iFoEtdaER_n8eT5tAuyA5oTDPvfmDP1FyV2V4Kn8nNByMURmPqT0=w300" type="image/x-icon">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/s/dt/dt-1.10.10/datatables.min.css"/>
    <script type="text/javascript" src="https://cdn.datatables.net/s/dt/dt-1.10.10/datatables.min.js"></script>
        <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>

</head>
<header>
    {% include "header.html" %}
</header>
<body>
    <p>&nbsp;</p>
        <div class="row"><h1 style="text-align: center;font-family: sans-serif;color: #777;">All Merchant Wallets</h1></div>
    <p>&nbsp;</p>
    <div class="row">
        <div class="col-lg-10 container" style="left:5%">
                <table id="ref-table" class="display" cellspacing="0" width="100%">
                    <thead>
                        <th>S.No.</th>
                        <th>Id</th>
                        <th>Shop Name</th>
                        <th>Name</th>
                        <th>Address</th>
                        <th>City</th>
                        <th>Ph. No.</th>
                        <th>Wallet Balance</th>

                    </thead>
                    <tbody>
                        {% for sp_code, details in wallets.items %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{sp_code}}</td>
                                <td>{{details.sp_name}}</td>
                                <td>{{details.seller_name}}</td>
                                <td>{{details.shop_address}}</td>
                                <td>{{details.city_name}}</td>
                                <td>{{details.sp_number}}</td>
                                <td>{{details.balance}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
        </div>
    </div>
</body>
<footer>
        <script type="text/javascript" charset="utf-8">
			$(document).ready(function() {
				$('#ref-table').DataTable();
				$('#ref-table').removeClass( 'display' ).addClass('table table-striped table-bordered');
			} );
		</script>
</footer>
</html>