<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Settlement Requested Merchants</title>
    <link rel="icon" href="https://lh3.ggpht.com/pPzHPojzz4fkUP7iFoEtdaER_n8eT5tAuyA5oTDPvfmDP1FyV2V4Kn8nNByMURmPqT0=w300" type="image/x-icon">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/s/dt/dt-1.10.10/datatables.min.css"/>
    <script type="text/javascript" src="https://cdn.datatables.net/s/dt/dt-1.10.10/datatables.min.js"></script>
        <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            $('.inner').toggle();
            $('.outer').click(function(){
                inner = $(this).attr("id");
                if($('.'+inner).hasClass("open")){
                    $('.'+inner).toggle();
                    $('.open').removeClass("open");
                }else{
                    $('.open').toggle();
                    $('.open').removeClass("open");
                    $('.'+inner).toggle();
                    $('.'+inner).addClass("open");
                }
            });
            $(document).on('click', '.settle_up', function(e){
                $(this).prop("disabled", true);
                $(this).removeClass("btn-primary");
                $(this).addClass("btn-danger");
                $(this).html("Settling...");
                wallet = this.attributes["wallet"].value;
                coupons = this.attributes["coupons"].value;
                pricediff = this.attributes["pricediff"].value;
                sp_code = this.attributes["sp_code"].value;
                get_params = "?sp_code="+sp_code+"&";
                if(wallet == "True"){
                    get_params += "wallet=1&";
                }else{
                    get_params += "wallet=0&";
                }
                if(coupons == "True"){
                    get_params += "coupons=1&";
                }else{
                    get_params += "coupons=0&";
                }
                if(pricediff == "True"){
                    get_params += "pricediff=1";
                }else{
                    get_params += "pricediff=0";
                }
                $.ajax({
                        url: './settleUpWithMerchant'+get_params,
                        type: "GET",
                        success : function(data)
                                  {
                                        if(data["success"] == true){
                                            $("."+sp_code).remove();
                                            $("#"+sp_code).remove();
                                        }
                                  },
                        failure : function(data){
                            alert("Request failed. Please try again.");}
                    });
            });
        });
    </script>
</head>
<header>
    {% include "header.html" %}
</header>
<body>
    <p>&nbsp;</p>
        <div class="row"><h1 style="text-align: center;font-family: sans-serif;color: #777;">Settlement Requests</h1></div>
    <p>&nbsp;</p>
    <div class="row">
        <div class="col-lg-10 container" style="left:5%">
            {% if settlements.settlements_requested %}
                {% for sp_code, details in settlements.merchants.items %}
                    <div id="{{sp_code}}" class="col-lg-12 outer" style="cursor: pointer;background: rgba(163, 163, 163, 0.8);color: white;border: 4px;border-radius: 8px;font-size: 18px;height: 120px;padding: 15px;">
                        <div class="col-lg-4">Name :
                            <span style="display:inline-block; width:10%;"></span>
                            {{details.merchant_details.sp_name}}
                        </div>
                        <div class="col-lg-4">Ph.No. :
                            <span style="display:inline-block; width:10%;"></span>
                            {{details.merchant_details.sp_number}}
                        </div>
                        <div class="col-lg-4">City :
                            <span style="display:inline-block; width:10%;"></span>
                            {{details.merchant_details.city_name}}
                        </div>
                        <p>&nbsp;</p>
                        <div class="col-lg-4">Account name :
                            <span style="display:inline-block; width:10%;"></span>
                            {{details.merchant_details.account_name}}
                        </div>
                        <div class="col-lg-4">Account No. :
                            <span style="display:inline-block; width:10%;"></span>
                            {{details.merchant_details.account_number}}
                        </div>
                        <div class="col-lg-4">IFSC Code :
                            <span style="display:inline-block; width:10%;"></span>
                            {{details.merchant_details.ifsc_code}}
                        </div>
                    </div>
                    <div class="col-lg-12 inner {{sp_code}}" style="background: rgb(248, 248, 248);color: #777777;border: 4px;border-radius: 8px;font-size: 18px;height: auto;padding: 15px;">
                        <div class="col-lg-8">
                            {% if details.coupons_settlement_requested %}
                                <div class="col-lg-12" style="padding: 20px;">
                                    <div class="col-lg-6">Coupon Amount Requested
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="input-group">
                                            <div class="input-group-addon">Rs.</div>
                                            <input type="text" class="form-control" value="{{details.coupons_settlement_details.unsettled_amount}}" placeholder="Amount" readonly>
                                            <div class="input-group-addon">.00</div> </div>
                                    </div>
                                </div>
                            {% endif %}
                            {% if details.wallet_settlement_requested %}
                                <div class="col-lg-12" style="padding: 20px;">
                                    <div class="col-lg-6">Wallet Amount Requested</div>
                                    <div class="col-lg-6">
                                        <div class="input-group">
                                            <div class="input-group-addon">Rs.</div>
                                            <input type="text" class="form-control" value="{{details.wallet_settlement_details.unsettled_amount}}" placeholder="Amount" readonly>
                                            <div class="input-group-addon">.00</div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            {% if details.pricediff_settlement_requested %}
                                <div class="col-lg-12" style="padding: 20px;">
                                    <div class="col-lg-6">Price Difference Amount Requested</div>
                                    <div class="col-lg-6">
                                        <div class="input-group">
                                            <div class="input-group-addon">Rs.</div>
                                            <input type="text" class="form-control" value="{{details.pricediff_settlement_details.unsettled_amount}}" placeholder="Amount" readonly>
                                            <div class="input-group-addon">.00</div>
                                          </div>
                                      </div>
                                  </div>
                            {% endif %}
                        </div>
                        <div class="col-lg-4" style="padding: 80px;">
                            <button id="settle_{{sp_code}}" type="button"
                                    pricediff= "{{details.pricediff_settlement_requested}}"
                                    coupons = "{{details.coupons_settlement_requested}}"
                                    wallet =  "{{details.wallet_settlement_requested}}"
                                    sp_code = "{{sp_code}}"
                                    class="settle_up btn btn-success btn-lg active">Settle Up</button>
                        </div>
                    </div>
                    <p>&nbsp;</p>
                {% endfor %}
            {% else %}
                    <p>&nbsp;</p>
                        <div class="row"><h1 style="margin-left: 35%;font-family: sans-serif;color: #777;">No Requests Received !!!</h1></div>
                    <p>&nbsp;</p>
            {% endif %}
        </div>
    </div>
</body>
</html>