<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order Details</title>
    <link rel="icon" href="https://lh3.ggpht.com/pPzHPojzz4fkUP7iFoEtdaER_n8eT5tAuyA5oTDPvfmDP1FyV2V4Kn8nNByMURmPqT0=w300" type="image/x-icon">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/s/dt/dt-1.10.10/datatables.min.css"/>
    <script type="text/javascript" src="https://cdn.datatables.net/s/dt/dt-1.10.10/datatables.min.js"></script>
        <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>


</head>
<header>
    {% include "header.html" %}
</header>

<body>
<p>&nbsp;</p>
<div class="row">
    <div class="col-lg-6" style="left:22%">
        <form action="./searchOrderByPhoneResult" method="GET">
            <div class="input-group">
                <input type="text" class="form-control" name="phn_no" placeholder="Enter User Phone No.">
                <span class="input-group-btn">
                <button class="btn btn-default" type="submit">Search</button>
                </span>
            </div><!-- /input-group -->
        </form>
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->
{% if data %}
    <p>&nbsp;</p><p>&nbsp;</p>
    <div class="row">
        <div class="col-lg-10 container" style="left:5%">
            {% if orders %}
                <table id="ref-table" class="display" cellspacing="0" width="100%">
                    <thead>
                        <th>S.No.</th>
                        <th>Order Codes</th>
                        <th>Ordering Time</th>
                        <th>Expected Delivery Time</th>
                        <th>Amount Payble</th>
                    </thead>
                    <tbody>
                        {% for order in orders %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td><a href="../oms/getOrderDetails?o_str={{order.order_string}}">{{order.order_string}}</td>
                                <td>{{order.order_date}}</td>
                                <td>{{order.expected_del_time}}</td>
                                <td>{{order.order_tot_amount}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <h1 style="margin-left:35%">No Records Found !!!</h1>
            {% endif %}
        </div>
    </div>
{% endif %}
</body>
<footer>
        <script type="text/javascript" charset="utf-8">
			$(document).ready(function() {
				$('#ref-table').DataTable();
				$('#ref-table').removeClass( 'display' ).addClass('table table-striped table-bordered');
				$('input').keyup(function(e){
                    if(e.keyCode == 13)
                    {
                        phone = $('input').val();
                        if (phone == ''){return 0;}
                        url = "./searchOrderByPhoneResult?phn_no=" + phone
                        window.location.href = url;
                    }
                });
			} );
		</script>
</footer>
</html>